[submodule "Assets/ACIUnityTools"]
	path = Assets/ACIUnityTools
	url = git@github.com:umfahrem/aci-unity-tools.git
	path = Assets/AciUnityTools
	url = git@github.com:AffectiveCognitiveInstitute/aci-unity-tools.git
	branch = master
	path = Assets/AciUnityTools
	url = git@github.com:AffectiveCognitiveInstitute/aci-unity-tools.git
	branch = master
	path = Assets/AciUnityTools
	url = git@github.com:umfahrem/aci-unity-tools.git
	branch = master
